.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 53px;
}

.label {
  display: flex;
  align-items: center;
  font-size: 15px;
  line-height: 18px;
  color: var(--lavender);
  opacity: 0.6;
}
